# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# Spark
spark-warehouse/
metastore_db/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Linux
*~

# Environment files
.env